.formMargin {
    margin: 9vw auto;
}

.register-form {
    position: relative;
}

.register-spinner {
    position: absolute;
    top: 0px;
    left: 0px;
}

.registerGroup {
    position: relative;
    padding-top: 25px;
}

.registerError {
    position: absolute;
    color: red;
    padding-left: 10px;
}