.image-and-name-row div:first-child {
    max-width: 30%;
}

.profile-image {
    width: 150px;
    height: 150px;
    padding: 5px;
}

.profile-banner {
    background-color: white;
    padding: 50px 0;
    max-width: 100vw;
    margin: auto;
    box-shadow: 0px 0px 15px -11px black;
}

.profile-details {
    width: 40vw;
    margin: auto;
    min-height: 60vh;
    background-color: white;
    box-shadow: 0px 10px 15px -11px black;
}

.profile-table {
    margin: 0 !important;
    padding: 15px 0 0 0 !important;
}

.last-table-row {
    border-bottom-width: 0px !important;
}

@media (max-width: 1400px) {
    .profile-details {
        width: 60vw;
    }
}
@media (max-width: 950px) {
    .profile-details {
        width: 100vw;
    }
}

@media (max-width: 575px) {
    .image-and-name-row div:first-child {
        max-width: 40%;
        justify-content: center;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        padding: 5px;
    }

    .profile-title {
        font-size: 8vw;
    }
    .mobile-edit-link {
        width: 35% !important;
    }
}