.product-col {
    min-width: 300px !important;
    max-width: 300px !important;
}

.product-card {
    min-height: 300px !important;
    transition: all 0.3s;
}

.product-card:hover {
    box-shadow: 0 0 15px -7px black;
}

.image-container {
    min-height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.card-image {
    width: 100%;
}

.price-container {
    position: relative;
    margin: 0 auto;
    width: 95%;
    top: 10px;
    transition: all 0.3s;
}

.price-container.active {
    top: 0;
}

.product-card-old-price {
    text-decoration: line-through;
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 3px;
}

.product-card-old-price-mobile {
    display: none !important;
    text-decoration: line-through;
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 1.5px;
}

.w-fit-cont {
    max-width: fit-content;
}

.add-to-cart {
    border-radius: 50%;
    background-color: #00a650;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: white;
    transition: all 0.3s;
}

.add-to-cart:hover {
    transform:rotate(360deg);
    width: 35px;
    height: 35px;
    box-shadow: 0 0 15px -5px black;
}

.description {
    color: white;
    position: relative;
    top: 10px;
    transition: all 0.3s;
}

.description.active {
    top: 0;
    color: black;
}

.description-mobile {
    display: none;
}

.crud-buttons-container {
    position: relative;
    top: 15px;
    transition: all 0.3s;
}

.crud-buttons-container.active {
    top: 0
}

.crud-buttons {
    box-shadow: 0 15px 30px -12px black;
}

@media (max-width: 990px) {
    .description-mobile {
        display: block;
        padding-top: 1rem;
        margin: auto;
        text-align: center;
    }
    .description {
        display: none;
    }
    .price-container {
        top: 0;
    }

    .product-card-old-price {
        display: none;
    }

    .product-card-old-price-mobile {
        display: block !important;
    }
}