.header {
    position: relative;
}

.header-container {
    width: 60vw !important;
    position: absolute;
    left: 20vw;
}

.right-links-container {
    display: flex;
    justify-content: flex-end;
}
.user-dropdown {
    width: fit-content;
}