.header {
    position: relative;
}

.header-container {
    width: 60vw !important;
    position: absolute;
    left: 20vw;
}

.right-links-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.user-dropdown {
    width: fit-content;
}

.cart-total-items-badge {
    position: absolute;
    top: 0;
    right: 35px;
}